* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: rgb(13, 41, 41);
    font-family: Courier, monospace;
    color: azure;
}
/* Блок меню */
.header {
    padding: 15px;
    background-color: rgb(53, 133, 133);
    text-align: left;
    border-radius: 10px;
}
.nav {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 20px;

}
.nav img {
    width: 45px;
}
.nav a {
    color: rgb(11, 29, 29);
    text-decoration: none;
    padding: 8px 14px;
    background-color: rgb(32, 82, 82);
    border-radius: 15px;
    transition: 1s;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a:hover {
    background-color: rgb(90, 237, 237);
    padding: 10px 16px;
    transition: 1s;
}

/* Блок контента номер 1 */
.general {
    margin: 15px;
    background-color: rgb(112, 185, 185);
    padding: 60px 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
}
.left {
    margin-right: 20px;
}
.photo {
    border-radius: 20px;
    width: 500px;
}
.right {
    width: 600px;
}

/* Блоки контента */
.content {
    margin: 15px;
    background-color: rgb(112, 185, 185);
    padding: 60px 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
}

/* Блок футера */
.footer {
    text-align: center;
    background-color: rgb(53, 133, 133);
    padding: 30px;
    font-size: 14px;
    border-radius: 10px;
}
.btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 10px 15px;
    background-color: rgb(32, 82, 82);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000;
}

